<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/styles/posts.css">
</head>
<body>
    <h1>All Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
        <% }) %>
    </ul>
    <button id="createPostButton">Create Post</button>
    <script src="/scripts/posts.js"></script>
</body>
</html>
